section.about {
  width: 70%;
  margin: auto;
  padding: 150px 0;
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: $primary_color;
    letter-spacing: 1px;
    text-align: center;
  }
  p.main {
    margin-top: 20px;
    width: 650px;
    margin: 20px auto;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    padding-bottom: 30px;
  }
  h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: $secondary_color;
    margin: 40px 0;
  }

  div.division {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    div {
      margin: 10px;
      height: 28vh;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      h3 {
        background-color: #005193c0;
        font-size: 20px;
        display: inline-block;
        padding: 10px 20px;
        position: absolute;
        bottom: 20px;
        color: #ffffff;
      }
    }
  }

  div.approach {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    div {
      border-bottom: 1px dashed #000000;
      border-top: 1px dashed #000000;
      padding-top: 20px;
      img {
        width: 100px;
        margin: auto;
        display: block;
        opacity: 0.4;
      }
      h2 {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        color: #000000;
      }
    }
  }
}

//Colors
$black: #34435e;
$white: #ffffff;
div.history {
  border-bottom: 1px dashed #000000;
  border-top: 1px dashed #000000;
  main {
    min-width: 300px;
    max-width: 500px;
    margin: auto;

    p {
      font-size: 1em;
      line-height: 1.75em;
      border-top: 3px solid;
      border-image: linear-gradient(to right, $primary_color 0%, $secondary_color 100%);
      border-image-slice: 1;
      border-width: 3px;
      margin: 0;
      padding: 40px;
      counter-increment: section;
      position: relative;
      color: $black;
      text-align: center;
      //numbers
      &:before {
        content: counter(section);
        position: absolute;
        border-radius: 50%;
        padding: 10px;
        height: 1.25em;
        width: 1.25em;
        background-color: $black;
        text-align: center;
        line-height: 1.25em;
        color: $white;
        font-size: 1em;
      }
    }
    //odd number borders
    p:nth-child(odd) {
      border-right: 3px solid;
      padding-left: 0;

      &:before {
        left: 100%;
        margin-left: -20px;
      }
    }
    //even number borders
    p:nth-child(even) {
      border-left: 3px solid;
      padding-right: 0;

      &:before {
        right: 100%;
        margin-right: -20px;
      }
    }
    //handle first and last
    p:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    p:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
