footer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0;
  div {
    font-size: 18px;
    letter-spacing: 1px;
    &:nth-child(1) {
      color: rgba(0, 0, 0, 0.5);
    }
    &:nth-child(2) {
      text-align: right;
      a {
        text-decoration: none;
        color: $primary_color;
      }
      span {
        margin-left: 30px;
      }
    }
  }
}
