.header {
  header {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    font-family: $font;
    padding-top: 30px;
    div.logo {
      img {
        width: 100%;
      }
    }
    nav {
      text-align: right;
      font-size: 15px;
      a {
        display: inline-block;
        color: $primary_color;
        margin: 25px 25px;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 500;
        padding-bottom: 8px;
        border-bottom: 5px solid #ffffff;
        svg {
          margin-right: 10px;
          color: $secondary_color;
        }
        &:hover,
        &.current {
          border-bottom: 5px solid $primary_color;
        }
        &:nth-child(6) {
          margin-right: 50px;
        }
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          margin: 25px 5px;
        }
      }
    }
  }
}
